@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');


/* styles/styleLogin.css */

body {
    font-family: "Poppins";
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 400px;
    margin: 250px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(189, 168, 102);
    color: #fff;
    cursor: pointer;
    font-family: "Poppins";
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(212, 185, 98);
}
