{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styleAdmin.css" %}">
    <title>Administrador</title>
</head>
<body>
    <h1>Funciones Administrador</h1>
    <div class="Funciones">
        <!-- <button>Reservas</button> -->
        <li><a href="users/" class="nav-links">Usuarios</a></li>
        <li><a href="#reservation" class="nav-links">RESERVACIONES</a></li>
        <li><a href="#rooms" class="nav-links">HABITACIONES</a></li>
    </div>
</body>
</html>
