{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styleRecep.css" %}">
    <title>Recepcionista</title>
    
</head>
<body>
    <h1>Funciones Recepción</h1>
    <div class="Funciones">
        <button>Reserva</button>
        <button>Facturación</button>
        <button>Servicios</button>
        <button>Habitaciones</button>
    </div>
</body>
</html>
