{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Hotel</title>
    <link rel="stylesheet" href="{% static "css/styleLogin.css" %}">
    <!-- <script src="../js/build/funciones.js"></script> -->
</head>
<body>
    <div class="login-container">
        <h2>Login Olympo</h2>
        <!-- <form action ="logiclogin.php" method="POST"> -->
        <form action=""></form>
            <label for="username">Documento de Usuario:</label>
            <input type="text" name="username" id="username" required><br>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required><br>
            <input type="button" value="Iniciar Sesión"  >
        </form>
    </div>
</body>
</html>
<script>
    async function consultar(){
    const url ="http://127.0.0.1:8000/apis/empleados/empleados/"
    const doc ="123"
    const url2=url+doc

    const res =await fetch(url2,{mode:'no-cors',headers:{'Content-Type':'application/json'}})
    
    const data =  await res.json()
    console.log(data)

}
consultar()

</script>

